/*START:type_style */

body {
    width: 960px;
    margin: 15px auto;
    font-family: Arial, "MS Trebuchet", sans-serif;
}

li,
p,
i {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.bak {
    background-color: #a3d1f7;
    background-image: url(texture.png);
    background-size: cover;
    background-position: center;
}
td,
tr,
input,
label {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

a {
    color: black;
}
.inputscore {
    background-color: antiquewhite;
    margin-top: 3px;
    display: block;
    height: 50px;
    margin: 0px auto 3px auto;
}
.myview {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}
.line {
    margin: 7px auto;
    height: 5px;
    width: 50%;
    background-color: antiquewhite;
}
.outputscore {
    background-color: #ffdc74;
    margin-top: 3px;
    height: 50px;
    margin: 0px auto 3px auto;
}
.answer {
    margin: 7px auto;
    height: 110px;
    width: 30%;
    background-color: antiquewhite;
    border-radius: 20px;
}
.show {
    margin: 7px auto;
    width: 35%;
    background-color: antiquewhite;
    border-radius: 20px;
}
.myscore {
    margin: 4px 4px;
}
label {
    display: inline-block;
    width: 95px;
}
