@media only screen and (min-width:576px) {
    .PUpicsli {
        bottom: 5%;
        left: 5%;
        width: 30%;
        position: absolute!important;
        opacity: 0.9;
    }
    .PUpeople {
        position: absolute;
        width: 57%;
        top: 50%;
        left: 43%;
    }
    .PUgrass {
        position: absolute;
        width: 110%;
        top: 57%;
        left: 0%;
    }
    .PUcloud {
        position: absolute;
        width: 53%;
        top: -18%;
        left: 49%;
        z-index: -1;
    }
    .PUchat {
        position: absolute;
        width: 41%;
        top: 14%;
        left: 63%;
        z-index: 0;
    }
    .PUpoint {
        border: none;
        background-color: transparent;
        background-size: cover;
        height: 120px;
        width: 120px;
        outline: none;
        cursor: pointer;
    }
    .us {
        position: absolute;
        top: 55%;
        right: 50%;
        animation: Updown 2s infinite alternate;
    }
    .maintenance {
        position: absolute;
        top: 55%;
        right: 43%;
        animation: Updown 2s infinite alternate;
    }
    .camera {
        position: absolute;
        top: 55%;
        right: 36%;
        animation: Updown 2s infinite alternate;
    }
    @keyframes Updown {
        from {
            top: 55%;
        }
        to {
            top: 52%;
        }
    }
    .PUtext {
        text-align: center;
        color: black;
        font-size: 25px;
        font-family: 'Yusei Magic', sans-serif;
    }
    .contact_text {
        text-align: center;
        color: black;
        font-size: 30px;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 600;
    }
    .contact {
        text-align: center;
        width: 25%;
        position: absolute;
        top: 15%;
        right: 5%;
        z-index: 3;
        box-shadow: -5px 8px 20px 0 rgb(0 0 0 / 54%);
        border-radius: 25px;
        background: #ffffffc2;
    }
    .news {
        height: 60%;
        width: 25%;
        box-shadow: -9px 14px 20px 0 rgb(0 0 0 / 54%);
        border-radius: 25px;
        background: #ffffffc2;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .PUcontact_icon {
        border: none;
        background-color: transparent;
        background-size: cover;
        height: 70px;
        width: 70px;
        outline: none;
        margin: 0 10px 0 10px;
        cursor: pointer;
    }
    .pucontainer {
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
        position: relative;
        z-index: 3;
    }
    .tooltitle {
        font-size: 30px;
        margin-bottom: 0;
        display: inline-block;
    }
    .PUcardbody {
        padding: 0.5rem;
    }
    .marquee {
        width: 400px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        border: 2px solid #66BAB7;
        background-color: #fdfef999;
    }
    .marqueefontsize {
        font-size: 23px;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 600;
    }
    .seecart {
        position: fixed;
        bottom: 0px;
        background: #F19483;
        z-index: 4;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        font-size: 30px;
        width: 100%;
        font-family: 'Yusei Magic', sans-serif;
        border: none;
        outline: none;
    }
    .nav-counter {
        position: absolute;
        top: 5px;
        right: -4px;
        min-width: 8px;
        height: 20px;
        line-height: 20px;
        margin-top: -11px;
        padding: 0 5px;
        font-weight: normal;
        color: white;
        text-align: center;
        text-shadow: 0 1px rgb(0 0 0 / 20%);
        background: #e23442;
        border-radius: 11px;
    }
    .margintop {
        margin-top: 40px;
    }
    .cartcontainer {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
    }
    .filefont {
        font-size: 20px;
        margin-bottom: 0;
        display: inline-block;
    }
    .orderdivider {
        background-color: #FB966E;
        height: 5px;
        margin: 15px 0px;
    }
    .PUbigtitle {
        position: absolute;
        width: 21%;
        top: 8%;
        left: 10%;
    }
    .PUbigtitle:hover {
        animation: shake 0.3s;
        animation-iteration-count: infinite;
    }
    @keyframes shake {
        35% {
            transform: rotate(-1deg);
        }
        80% {
            transform: rotate(1deg);
        }
    }
    .bodyimg {
        background: url(../../picture/material/test3.jpg) no-repeat center top fixed;
        background-size: 100% auto;
        background-position-y: 30%;
    }
    .logi_regis_button_top {
        margin: 60px 0;
    }
    .PUtitle {
        width: 20%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
    }
    #llooggiinn {
        margin-top: 100px;
        position: relative;
    }
    .navpic {
        position: absolute;
        right: 60px;
        top: 5px;
        background-color: #ffffff;
        width: 80px;
        border-radius: 45%;
    }
    .navuserpic {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    #userprofile {
        margin-top: 80px;
    }
    .alertsize {
        z-index: 99;
        position: absolute;
        width: 50%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0.9;
    }
    .itempadding {
        padding: 0 15px 15px 15px;
    }
    .showorderpic {
        margin: 15px;
        width: 60%;
    }
    .inputsni {
        padding: 0;
    }
    .detailpadding {
        padding: 20px 20px;
    }
    #loading {
        position: fixed;
        top: 18%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 100000;
    }
    #loading img {
        width: 20%;
    }
    .loadpsize {
        background-color: #faebd7a6;
        border-radius: 20px;
        margin-top: 20px;
        font-size: 21px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 600;
    }
    .process {
        width: 30%;
        margin: 0 auto;
    }
    .loadingup {
        position: fixed;
        z-index: 99999;
        width: 100%;
        height: 100vh;
        background-color: rgb(5 5 5 / 60%);
    }
    .datetext {
        width: 25%;
        text-align: center!important;
        vertical-align: middle;
        font-size: 20px;
        font-family: 'Noto Sans TC', sans-serif!important;
        font-weight: 600!important;
        color: #0064ff!important;
    }
    .content {
        margin-top: 1%!important;
        color: black;
        font-size: 28px;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 600;
    }
    .allnews {
        width: 90%;
        box-shadow: -9px 14px 20px 0 rgb(0 0 0 / 54%);
        border-radius: 25px;
        background: #FFF;
        top: 10%;
        margin: auto;
    }
}

.table {
    --bs-table-striped-bg: #f5f9fc;
    border-color: #ffffff00;
}

.newstext {
    margin: 0!important;
    background-color: #f5f9fc;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.logintext {
    font-size: 24px;
    margin: 7px 0 0 7px;
}

.btncolor {
    background-color: orange;
}

.puimg {
    width: 45px;
    border-radius: 20%;
    outline: none;
}

.PUcard {
    background-image: url('../../picture/material/card.jpg');
    background-size: cover;
    background-position: center;
    border: 0px solid #dee2e6!important;
}

.PUnavheader {
    height: 70px;
    position: relative;
    padding: 0 15px 0 15px;
}

.opwhite {
    background-color: rgba(245, 245, 245, 0.4);
}

.PUboxshadow {
    box-shadow: 10px 10px 0 #33333380;
}

.boxshadow {
    box-shadow: 10px 10px 0 #33333380;
}

.borderradis {
    border-radius: 10%!important;
}

.PUcardtop {
    margin-top: 10px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: marquee 9s linear infinite;
    animation: marquee 9s linear infinite;
}


/* Make it move */

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.outborrowimg {
    z-index: 2;
    position: absolute;
}

input::placeholder {
    text-align: center;
}

.updatepic {
    background-color: #55c1d2;
    color: #fff;
    border-color: #55c1d2;
    margin: 20px auto;
    display: block;
    width: 40%;
}

.userbutton {
    background-color: #c3f3cfd9;
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
}

.userbutton:hover {
    background-color: #91f7abd9;
}

.alerttext {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
}

.checkbottom {
    width: 30px;
    height: 30px;
    float: none!important;
    margin-top: 10px;
}

.logincolor {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00000081!important;
}